@model DuAnFptShop.Models.ViewModel.DetailProduct
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ProductDetailCSS.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-content">
                <ul>
                    <li><a href="@Url.Action("HomePage","Home")">Trang chủ</a></li>
                    <li style="color: #CCCCCC">/</li>
                    <li><a href="@Url.Action("ProductCategory","Home")">Điện thoại</a></li>
                    <li style="color: #CCCCCC">/</li>
                    <li><a href="">Samsung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-top">
        <div class="container">
            <div class="product-top-content">
                <h1>@Html.DisplayFor(model => model.ProName)</h1>
            </div>
        </div>
    </div>
    <section class="product-detail">
        <div class="container">
            <div class="product-detail-content">
                <div class="product-detail-left">
                    @Html.Action("ProductSliderPartialView", "Product")
                    <div class="product-slider-feature">
                        <ul>
                            <li>
                                <a href=""><i class="fa-regular fa-images"></i></a>
                                <p>Xem thêm 14 ảnh</p>
                            </li>
                            <li>
                                <a href=""><i class="fa-solid fa-box-open"></i></a>
                                <p>Trong hộp có gì  </p>
                            </li>
                            <li>
                                <a href=""><i class="fa-solid fa-camera-rotate"></i></a>
                                <p>Ảnh 360 độ</p>
                            </li>
                        </ul>
                    </div>
                    <div class="product-param">
                        <ul>
                            <li><i class="fa-solid fa-mobile-screen"></i><p title="Màn hình">@Model.Screen</p></li>
                            <li><i class="fa-solid fa-camera"></i><p title="Camera sau">@Html.DisplayFor(model => model.Camera)</p></li>
                            <li><i class="fa-solid fa-image-portrait"></i><p title="Camera selfie">@Html.DisplayFor(model => model.CameraSelfie)</p></li>
                            <li><i class="fa-solid fa-microchip"></i><p title="CPU">@Html.DisplayFor(model => model.Cpu)</p></li>
                            <li><i class="fa-solid fa-ticket"></i><p title="Bộ nhớ trong">@Html.DisplayFor(model => model.StorageName)</p></li>
                        </ul>
                        <a class="table-view-detail-btn1">Xem chi tiết thông số kỹ thuật</a>
                    </div>
                    <div class="product-policy">
                        <span><i class="fa-solid fa-recycle"></i></span>
                        <p>Hàng chính hãng - Bảo hành 12 Tháng</p>
                        <span><i class="fa-solid fa-truck-fast"></i></span>
                        <p>Giao hàng toàn quốc</p>
                    </div>
                </div>
                <div class="product-detail-right">
                    <div class="product-price">
                        <div class="product-price-left">
                            <p class="newPrice">@String.Format("{0:N0}", Model.NewPrice)<span>đ</span></p>
                            <p class="oldPrice">@String.Format("{0:N0}", Model.OldPrice)<span>đ</span></p>
                        </div>
                    </div>
                    <div class="select-color">
                        <div class="product-color-img">
                            <img class="active" src="@Url.Content(Model.ProImage)" />
                            <i class="fa-solid fa-check"></i>
                            <p>@Html.DisplayFor(modelitem => Model.ColorName)</p>
                        </div>
                    </div>
                    <div class="product-discount">
                        <div class="product-discount-title">
                            <p>Chọn 1 trong 2 khuyến mãi sau</p>
                        </div>
                        <div class="product-discount-content">
                            <div class="radio-discount">
                                <ul>
                                    <li><input type="radio" name="discount-radio" checked /><p>@Html.DisplayFor(modelitem => Model.DiscountDecription)</p></li>
                                </ul>
                            </div>
                            <ul>
                                <li><span>Ưu đãi thêm</span></li>
                                <li><i class="fa-solid fa-circle-check"></i><p>Trả góp 0%</p></li>
                                <li><i class="fa-solid fa-circle-check"></i><p>Tặng PMH 500,000đ mua Tivi samsung</p></li>
                                <li><i class="fa-solid fa-circle-check"></i><p>Ưu đãi đặc quyền dành cho Tân Sinh Viên: Giảm thêm 5% | Học sinh Sinh viên | Giáo Viên: Giảm thêm 3% <span>Xem chi tiết</span></p></li>
                            </ul>
                            <span class="expand-btn1">Xem thêm 3 ưu đãi khác<i class="fa-solid fa-chevron-down"></i></span>
                            <div class="product-discount-content-expand">
                                <ul>
                                    <li><i class="fa-solid fa-circle-check"></i><p>Đặc quyền trả góp 0% trả trước 0đ tại hệ thống S.Studio by FPT <span>Xem chi tiết</span></p></li>
                                    <li><i class="fa-solid fa-circle-check"></i><p>Mua Sim MobiFone Chất Chơi 1T kèm máy điện thoại giảm ngay 100.000đ, có ngay 5GB data/ ngày</p></li>
                                    <li><i class="fa-solid fa-circle-check"></i><p>Thu cũ đổi mới trợ giá ngay 15% đến 2 triệu (MintPro) <span>Xem chi tiết</span></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="click-to-buy">
                        <a class="btn btn-primary" href="@Url.Action("AddToCart", "Home", new { id = Model.ProductID })">
                            <input type="button" value="MUA NGAY" />
                        </a>
                        <input type="button" value="TRẢ GÓP 0%"/>
                        <input type="button" value="TRẢ GÓP QUA THẺ"/>
                    </div>
                    <div class="located">
                        <p>Gọi <span>1800-6601</span> để được tư vấn mua hàng (Miễn phí)</p>
                        <span><i class="fa-solid fa-location-dot"></i> Tìm shop có hàng gần nhất</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="paramNews">
        <div class="container">
            <div class="paramNews-content">
                <div class="paramNews-content-left">
                    <h3>Đặc điểm nổi bật của @Html.DisplayFor(model => model.ProName)</h3>
                    @Html.Action("ProductParamSliderPartialView","Product")
                    <h3>@Html.DisplayFor(model => model.ProDescriptionTitle)</h3>
                    <p>Chiến thần smartphone tầm trung gọi tên @Html.DisplayFor(model => model.ProName) với những tính năng đột phá từ màn hình 120Hz mượt mà, 4 camera 50MP cho đến hiệu năng “khủng” Snapdragon 695, sẵn sàng cùng bạn khai mở tiềm lực công nghệ tối ưu để tận hưởng cuộc sống tiện lợi và thông minh.</p><br />
                </div>
                <div class="paramNews-content-right">
                    <div class="paramNews-content-right-top">
                        <h3>Thông số kỹ thuật</h3>
                        <table>
                            <tr>
                                <td>Màn hình</td>
                                <td>@Html.DisplayFor(model => model.Screen)</td>
                            </tr>
                            <tr>
                                <td>Camera sau</td>
                                <td>@Html.DisplayFor(model => model.Camera)</td>
                            </tr>
                            <tr>
                                <td>Camera Selfie</td>
                                <td>@Html.DisplayFor(model => model.CameraSelfie)</td>
                            </tr>
                            <tr>
                                <td>RAM</td>
                                <td>@Html.DisplayFor(model => model.RamName)</td>
                            </tr>
                            <tr>
                                <td>Bộ nhớ trong</td>
                                <td>@Html.DisplayFor(model => model.StorageName) GB</td>
                            </tr>
                            <tr>
                                <td>CPU</td>
                                <td>@Html.DisplayFor(model => model.Cpu)</td>
                            </tr>
                            <tr>
                                <td>Dung lượng pin</td>
                                <td>@Html.DisplayFor(model => model.Battery)</td>
                            </tr>
                            <tr>
                                <td>Thẻ sim</td>
                                <td>@Html.DisplayFor(model => model.Sim)</td>
                            </tr>
                            <tr>
                                <td>Hệ điều hành</td>
                                <td>@Html.DisplayFor(model => model.OperatingSystem)</td>
                            </tr>
                            <tr>
                                <td>Xuất xứ</td>
                                <td>@Html.DisplayFor(model => model.Origin)</td>
                            </tr>
                            <tr>
                                <td>Thời gian ra mắt</td>
                                <td>@Html.DisplayFor(model => model.LaunchTime)</td>
                            </tr>
                        </table>
                        <div class="table-view-detail-btn2">
                            <a>Xem cấu hình chi tiết <i class="fa-solid fa-caret-right"></i></a>
                        </div>
                        <div class="table-view-detail">
                            <div class="table-view-detail-content-wrapper">
                                <div class="table-view-detail-content">
                                    <h2>Chi tiết thông số kỹ thuật @Html.DisplayFor(model => model.ProName)<span id="table-view-detail-closed">X</span></h2>
                                    <img src="@Url.Content(Model.ProImage)" />
                                    <h3 class="table-view-detail-title">Thông tin hàng hóa</h3>
                                    <div class="table-view-detail-list">
                                        <ul>
                                            <li>Thương hiệu: Samsung</li>
                                            <li>Xuất xứ: @Html.DisplayFor(model => model.Origin)</li>
                                            <li>Thời điểm ra mắt: @Html.DisplayFor(model => model.LaunchTime)</li>
                                            <li>Thời gian bảo hành (tháng): 12</li>
                                            <li>Hướng dẫn bảo quản: Để nơi khô ráo, nhẹ tay, dễ vỡ</li>
                                            <li>Hướng dẫn sử dụng: Xem trong sách hướng dẫn sử dụng</li>
                                            <li>Đơn vị nhập khẩu: Samsung</li>
                                            <li>Nhà sản xuất: Samsung</li>
                                            <li>Nhà phân phối: Samsung Việt Nam</li>
                                        </ul>
                                    </div>
                                    <h3 class="table-view-detail-title">Thiết kế & Trọng lượng</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Kích thước</td>
                                                <td>164.5 x 76.9 x 8.4 mm</td>
                                            </tr>
                                            <tr>
                                                <td>Trọng lượng sản phẩm</td>
                                                <td>197 g</td>
                                            </tr>
                                            <tr>
                                                <td>Tỷ lệ diện tích sử dụng màn hình</td>
                                                <td>83%</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Bộ xử lý</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Phiên bản CPU</td>
                                                <td>@Html.DisplayFor(model => model.Cpu)</td>
                                            </tr>
                                            <tr>
                                                <td>Số nhân</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>Tốc độ tối đa</td>
                                                <td><a class="a-black">2.40 GHz</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-view-detail-table">
                                        <h3 class="table-view-detail-title">RAM</h3>
                                        <table>
                                            <tr>
                                                <td>RAM</td>
                                                <td>@Html.DisplayFor(model => model.RamName)</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Màn hình</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Kích thước màn hình</td>
                                                <td>6.6 inch</td>
                                            </tr>
                                            <tr>
                                                <td>Loại cảm ứng</td>
                                                <td><a class="a-black">Điện dung đa điểm</a></td>
                                            </tr>
                                            <tr>
                                                <td>Mật độ điểm ảnh</td>
                                                <td><a class="a-black">400 ppi</a></td>
                                            </tr>
                                            <tr>
                                                <td>Tỷ lệ khung hình</td>
                                                <td><a class="a-black">20:9</a></td>
                                            </tr>
                                            <tr>
                                                <td>Công nghệ màn hình</td>
                                                <td>PLS LCD</td>
                                            </tr>
                                            <tr>
                                                <td>Chuẩn màn hình</td>
                                                <td><a class="a-blue">FHD+</a></td>
                                            </tr>
                                            <tr>
                                                <td>Độ phân giải</td>
                                                <td><a class="a-blue">1080 x 2408 Pixels</a></td>
                                            </tr>
                                            <tr>
                                                <td>Tần số quét</td>
                                                <td><a class="a-blue">120 Hz</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Lưu trữ</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Bộ nhớ trong</td>
                                                <td>@Html.DisplayFor(model => model.StorageName)</td>
                                            </tr>
                                            <tr>
                                                <td>Thẻ nhớ ngoài</td>
                                                <td>MicroSD</td>
                                            </tr>
                                            <tr>
                                                <td>Hỗ trợ thẻ nhớ tối đa</td>
                                                <td><a class="a-black">1 TB</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Camera sau</h3>
                                    <div class="table-view-detail-wrapper">
                                        <p>Quad rear camera</p>
                                        <table>
                                            <tr>
                                                <td colspan="2">Wide</td>
                                            </tr>
                                            <tr>
                                                <td>Resolution</td>
                                                <td><a class="a-black">50.0 MP</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aperture</td>
                                                <td>ƒ/1.8</td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td colspan="2">Ultra Wide</td>
                                            </tr>
                                            <tr>
                                                <td>Resolution</td>
                                                <td><a class="a-black">5.0 MP</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aperture</td>
                                                <td>ƒ/2.2</td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td colspan="2">Macro lens</td>
                                            </tr>
                                            <tr>
                                                <td>Resolution</td>
                                                <td><a class="a-black">	2.0 MP</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aperture</td>
                                                <td>ƒ/2.4</td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td colspan="2">Portrait</td>
                                            </tr>
                                            <tr>
                                                <td>Resolution</td>
                                                <td><a class="a-black">2.0 MP</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aperture</td>
                                                <td>ƒ/2.4</td>
                                            </tr>
                                        </table>
                                        <p>Tính năng</p>
                                        <a class="a-blue">Chống rung quang học (OIS)</a>
                                    </div>
                                    <h3 class="table-view-detail-title">Selfie</h3>
                                    <div class="table-view-detail-table">
                                        <p>Single selfie camera</p>
                                        <table>
                                            <tr>
                                                <td>Resolution</td>
                                                <td><a class="a-black">8.0 MP</a></td>
                                            </tr>
                                            <tr>
                                                <td>Aperture</td>
                                                <td>ƒ/2.2</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Cảm biến</h3>
                                    <div class="table-view-detail-list">
                                        <ul>
                                            <li><a class="a-blue">Cảm biến vân tay</a></li>
                                        </ul>
                                    </div>
                                    <h3 class="table-view-detail-title">Bảo mật</h3>
                                    <div class="table-view-detail-list">
                                        <ul>
                                            <li>Mở khóa vân tay</li>
                                            <li>Mật khẩu</li>
                                        </ul>
                                    </div>
                                    <h3 class="table-view-detail-title">Giao tiếp & kết nối</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Số khe SIM</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td>Loại SIM</td>
                                                <td><a class="a-blue">@Html.DisplayFor(model => model.Sim)</a></td>
                                            </tr>
                                            <tr>
                                                <td>Hỗ trợ mạng</td>
                                                <td><a class="a-blue">5G</a></td>
                                            </tr>
                                            <tr>
                                                <td>Cổng giao tiếp</td>
                                                <td>Type C</td>
                                            </tr>
                                            <tr>
                                                <td>GPS</td>
                                                <td><a class="a-blue">GLONASS</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Thông tin pin & Sạc</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>Loại PIN</td>
                                                <td>Lithium polymer</td>
                                            </tr>
                                            <tr>
                                                <td>Dung lượng pin</td>
                                                <td>@Html.DisplayFor(model => model.Battery)</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Hệ điều hành</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td>OS</td>
                                                <td>Android</td>
                                            </tr>
                                            <tr>
                                                <td>Version</td>
                                                <td>@Html.DisplayFor(model => model.OperatingSystem)</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <h3 class="table-view-detail-title">Phụ kiện trong hộp</h3>
                                    <div class="table-view-detail-table">
                                        <table>
                                            <tr>
                                                <td><i class="fa-solid fa-book"></i> Sách HDSD</td>
                                                <td><i class="fa-solid fa-plug"></i> Cáp</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa-solid fa-battery-three-quarters"></i> Adapter</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paramNews-content-right-bottom">
                        <h2>Tin tức về @Html.DisplayFor(model => model.ProName)</h2>
                        <a>Xem tất cả</a>
                        @Html.Action("ProductNewsPartialView","Product")
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="questions">
        <div class="container">
           @Html.Action("ProductQuestionPartialView","Product")
        </div>
    </section>
    <section class="advisory">
        <div class="container">
            <div class="advisory-content">
                <div class="advisory-title">
                    <h2>Hướng dẫn & tư vấn về @Html.DisplayFor(model => model.ProName)</h2>
                    <a>Xem tất cả</a>
                </div>
                @Html.Action("ProductAdvisoryPartialView", "Product")
            </div>
        </div>
    </section>
    <script defer src="~/Scripts/ProductDetailJS.js"></script>
</body>

