<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/_MasterLayout1CSS.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="main-menu">
        <div class="container">
            <ul>
                <li><a href="@Url.Action("HomePage","Home")"><img src="~/images/logoFPT.png" /></a></li>
                <li>
                    <form action="/home/search" method="post">
                        <input type="text" placeholder="Nhập tên điện thoại, máy tính, phụ kiện...cần tìm" maxlength="57" name="data" />

                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </li>
                <li id="account-form"> <a href="#" title="Tài khoản của tôi"><i class="fa-solid fa-user"></i><br />Tài khoản của tôi</a></li>
                <li><a href="@Url.Action("ShopCart","Home")"><i class="fa-solid fa-cart-shopping"></i><br />Giỏ hàng</a></li>
            </ul>
            @if (Session["CusPhone"] == null)
            {
                <div class="account-form">
                    <div class="account-form-content">
                        <h2>Đăng Nhập Hoặc Tạo Tài Khoản <span id="account-form-closed">X</span></h2>
                        <form id="form-dang-ky" action="/Login/Login" method="post">
                            <img style="width:30%; height:30%" src="~/images/account-form.jpg" />
                            <p>
                                Nhập số điện thoại mua hàng để hưởng<br />
                                đặc quyền riêng tại FPT Shop
                            </p>
                            <input type="text" class="phone-number" placeholder="Nhập số điện thoại" maxlength="10" onkeyup="validatePhoneNumber()" name="data1" />
                            <input type="password" class="phone-number" placeholder="Nhập mật khẩu" name="data2" />

                            <span class="phonenumber-error"></span>
                            <button>TIẾP TỤC</button>
                            <a href="@Url.Action("Register","Login")">ĐĂNG KÝ</a>
                        </form>

                    </div>
                </div>
            }
            else
            {
                <div class="Infor">
                </div>
            }
        </div>
    </div>
    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="@Url.Action("ProductCategory","Home")"><i class="fa-solid fa-mobile-screen-button"></i> ĐIỆN THOẠI SAMSUNG</a>
                    <div class="subMenu">
                        <p>HÃNG SẢN XUẤT</p>
                        <ul>
                            <li><a href="@Url.Action("ProductCategory","Home")">SamSung</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-top">
                    <div class="footer-list">
                        <ul class="footer-list-content">
                            <li><a>Giới thiệu về công ty</a></li>
                            <li><a>Chính sách bảo mật</a></li>
                            <li><a>Quy chế hoạt động</a></li>
                            <li><a>Kiểm tra hóa đơn điện tử</a></li>
                            <li><a>Tra cứu thông tin bảo hành</a></li>
                            <li><a>Câu hỏi thường gặp mua hàng</a></li>
                        </ul>
                        <img style="width:50px;height:auto" src="~/images/ft-img1.png" />
                        <img style="width:120px;height:auto" src="~/images/ft-img2.png" />
                    </div>
                    <div class="footer-list">
                        <ul class="footer-list-content">
                            <li><a>Tin tuyển dụng</a></li>
                            <li><a>Tin khuyến mãi</a></li>
                            <li><a>Hướng dẫn mua online</a></li>
                            <li><a>Hướng dẫn mua trả góp</a></li>
                            <li><a>Chính sách trả góp</a></li>
                            <li><a>Chính sách thu thập và<br /> xử lĩ dữ liệu cá nhân</a></li>
                        </ul>
                        <p>Chứng nhận:</p>
                        <img src="~/images/dmca.png" />
                        <img src="~/images/logo-sanphamdichvu.png" />
                        <img src="~/images/logo-vietnam.png" />
                    </div>
                    <div class="footer-list">
                        <ul class="footer-list-content">
                            <li><a>Hệ thống cửa hàng</a></li>
                            <li><a>Chính sách đổi trả</a></li>
                            <li><a>Hệ thống bảo hành</a></li>
                            <li><a>Giới thiệu máy đổi trả</a></li>
                        </ul>
                    </div>
                    <div class="footer-list">
                        <ul class="footer-list-content">
                            <li>
                                <p>Tư vấn mua hàng (Miễn phí)</p>
                                <a><span style="color:#CB1C22; font-size:18px">1800 6601</span>(Nhánh 1)</a>
                            </li>
                            <li>
                                <p>Hỗ trợ kỹ thuật</p>
                                <a><span style="color:#CB1C22; font-size:18px">1800 6601</span> (Nhánh 2)</a>
                            </li>
                            <li>
                                <p>Góp ý, khiếu nại (8h00 - 22h00)</p>
                                <a><span style="color:#CB1C22; font-size:18px">1800 6616</span></a>
                            </li>
                        </ul>
                        <p>Hỗ trợ thanh toán:</p>
                        <div class="footer-payment">
                            <img src="~/images/visa-pay.png" />
                            <img src="~/images/mastercard-pay.png" />
                            <img src="~/images/jcb-pay.png" />
                            <img src="~/images/american-pay.png" />
                            <img src="~/images/atm-pay.png" />
                            <img src="~/images/moca-pay.png" />
                            <img src="~/images/zalo-footer-pay.png" />
                            <img src="~/images/vn-footer-pay.png" />
                            <img src="~/images/redivo-pay.png" />
                            <img src="~/images/smart-pay.png" />
                            <img src="~/images/fox-pay.png" />
                            <img src="~/images/le-pay.png" />
                        </div>
                    </div>
                    <div class="footer-list">
                        <ul class="footer-list-content">
                            <li>
                                <p style="display:inline-block">Kết nối với chúng tôi:</p>
                                <a href="https://www.facebook.com/FPTShopOnline/"><img style="width:20px; height:auto; display:inline-block; margin:0 5px" src="~/images/icon-facebook.png" /> </a>
                                <a href="https://zalo.me/2659487666103055748"><img style="width: 20px; height: auto; display: inline-block; margin: 0 5px" src="~/images/icon-zalo.png" /></a>
                            </li>
                            <li>
                                <p>Website cùng FPT Retail:</p>
                            </li>
                            <li>
                                <p>Cửa hàng uỷ quyền bởi Apple:</p>
                                <a><img src="~/images/F-studio.png" /></a>
                            </li>
                            <li>
                                <p>Trung tâm bảo hành uỷ quyền Apple:</p>
                                <a><img src="~/images/F-care.png" /></a>
                            </li>
                            <li>
                                <p>Chuỗi nhà thuốc:</p>
                                <a><img src="~/images/nhathuoclongchau.png" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>© 2007 - 2023 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 - 263 Khánh Hội, P2, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày</p>
                    <p>08/03/2012. GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Điện thoại: <span>(028) 7302 3456</span>. Email: <span>fptshop@fpt.com</span>. Chịu trách nhiệm nội dung: Nguyễn Trịnh Nhật</p>
                    <p>Linh</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/MasterLayoutJS.js"></script>
</body>
</html>
