@model IEnumerable<DuAnFptShop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .form-horizontal {
        width: 100%;
        background-color: #ffffff;
    }

    .header {
        width: 100%;
    }

    .header-content {
        width: 100%;
        background-color: #E1EDDB;
        color: #91A990;
        height: 50px;
        padding: 0px 20px;
        font-weight: bold;
    }

        .header-content h4 {
            line-height: 50px;
        }

    th {
        font-size: 14px;
    }

    .btn-Edit {
        background-color: red;
        margin-bottom: 3px;
    }

    .btn-Details {
        background-color: blue;
        margin-bottom: 3px;
    }

    .btn-Delete {
        background-color: green;
        margin-bottom: 3px;
    }

    .btn a {
        color: white;
        text-decoration: none;
    }

    .btn-Edit:hover {
        background-color: red;
    }

    .btn-Details:hover {
        background-color: blue;
    }

    .btn-Delete:hover {
        background-color: green;
    }

    .btn-default {
        border: 1px solid #CFD5DB;
        border-radius: 5px;
    }

        .btn-default a {
            text-decoration: none;
            color: #212529;
        }
</style>

<div class="header">
    <div class="container">
        <div class="header-content">
            <h4>Danh sách</h4>
        </div>
    </div>
</div>

<div class="list">
    <div class="container">
        <div class="list-content">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.CateName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProDecription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Screen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Camera)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CameraSelfie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Battery)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OperatingSystem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaunchTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerformanceBattery.Performance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScreenSize.Size)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProDecription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Screen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Camera)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CameraSelfie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Battery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OperatingSystem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaunchTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProImage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerformanceBattery.Performance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScreenSize.Size)
                        </td>
                        <td>
                            <button class="btn btn-Edit"> @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) </button>
                            <button class="btn btn-Details"> @Html.ActionLink("Details", "Details", new { id = item.ProductID }) </button>
                            <button class="btn btn-Delete"> @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }) </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<div class="list-btn">
    <div class="container">
        <div class="list-btn-content">
            <button class="btn btn-default">
                @Html.ActionLink("Thêm mới", "Create")
            </button>
        </div>
    </div>
</div>
